<p-toolbar styleClass="layout-header">
  <div class="p-toolbar-group-start">
    <h2 style="margin: 0; font-weight: 600; color: var(--primary-color)">
      {{ title }}
    </h2>
  </div>
  <div class="p-toolbar-group-end">
    <p-button
      icon="pi pi-user"
      [text]="true"
      [rounded]="true"
      severity="secondary"
      (onClick)="openUserModal()"
    ></p-button>
    <p-dialog
      header="User Details"
      [(visible)]="showUserModal"
      [modal]="false"
      [draggable]="false"
      [resizable]="false"
      [style]="{
        width: '35rem',
        position: 'fixed',
        top: '5rem',
        right: '2rem',
      }"
    >
      <div class="user-profile">
        <div class="user-header">
          <div class="user-icon">
            <i class="pi pi-user"></i>
          </div>

          <div>
            <h3>{{ user.name }}</h3>
            <span>{{ user.role }}</span>
          </div>
        </div>

        <div class="user-details">
          <div class="user-row">
            <span class="label">Employee ID</span>
            <span>{{ user.empId }}</span>
          </div>

          <div class="user-row">
            <span class="label">Email</span>
            <span>{{ user.email }}</span>
          </div>

          <div class="user-row">
            <span class="label">Department</span>
            <span>{{ user.department }}</span>
          </div>

          <div class="user-row">
            <span class="label">Role</span>
            <span>{{ user.role }}</span>
          </div>

          <div class="user-row">
            <span class="label">Company Name</span>
            <span>{{ user.companyname }}</span>
          </div>
        </div>
      </div>
      <ng-template pTemplate="footer">
        <p-button 
          label="Sign Out" 
          icon="pi pi-power-off" 
          severity="danger" 
          (onClick)="signOut()">
        </p-button>
      </ng-template>
    </p-dialog>
  </div>
</p-toolbar>
