<div [ngClass]="{'layout-wrapper': !isLoginPage, 'login-layout': isLoginPage}">
    <ng-container *ngIf="!isLoginPage">
        <!-- Static Sidenav Component -->
        <app-sidenavbar class="static-sidebar-container"></app-sidenavbar>

        <!-- Main Content Area -->
        <div class="main-content-wrapper">
            <app-header title="CRUD group of IT solutions people-hub"></app-header>

            <main class="layout-content">
                <router-outlet></router-outlet>
            </main>

            <app-footer [title]="title"></app-footer>
        </div>
    </ng-container>

    <ng-container *ngIf="isLoginPage">
        <router-outlet></router-outlet>
    </ng-container>
</div>
<app-loader></app-loader>
<p-toast></p-toast>
